<h1 mat-dialog-title>{{data && "Edit user" || "Create new user"}}</h1>
<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p> -->
  <form [formGroup]='form'>
    <!-- <ng-container *ngFor ></ng-container> -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input required matInput formControlName='name'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User name</mat-label>
      <input required matInput formControlName='username'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input required matInput formControlName='email'>
      <mat-error *ngIf="form.controls.email.invalid">Invalid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input required matInput formControlName='phone'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Website</mat-label>
      <input required matInput formControlName='website'>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close()" color='warn'>No Thanks</button>
  <button [disabled]='!form.valid' mat-raised-button (click)="saveUser()" color='primary'>Save</button>
</div>
